@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";



*{
    font-family:'Roboto';
}


:root{
  /* black-family */
  --black:#000000;
  --light-black:#1F2937;
  
  /* gray-family */
  --gray:#bebebe;
  --light-gray:	#6b7280;
  --lighter-gray: #e5e7eb;

  /* white-family */
  --white:#FFFFFF;

  /* others */
  --grayish-blue:#6B7C93 ;
}
